<div class="panel panel-default">
  <div class="panel-heading">Input form</div>
  <div class="panel-body">
    <form class="form-horizontal" [formGroup]="fg">
      <div class="form-group">
        <label class="col-sm-2 control-label">Time</label>
        <div class="col-sm-4">
          <ngq-timepicker [opts]="opts" formControlName="time"></ngq-timepicker>
        </div>
      </div>
    </form>
  </div>
</div>
<br> FormGroup: Raw Value {{ fg.getRawValue() | json }}
<button [disabled]="fg.invalid">submit</button>